name: Build and release

on:
  push:
    branches: [master]

jobs:
  buildManual:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: xu-cheng/latex-action@v3
        with:
          working_directory: manual
          root_file: gclc_man.tex

      - name: Upload manual
        uses: actions/upload-artifact@v4.3.1
        with:
          name: manual-build-artifact
          path: manual/gclc_man.pdf

  buildLinux:
    runs-on: ubuntu-latest
    needs: [buildManual]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download manual
        uses: actions/download-artifact@v4
        with:
          name: manual-build-artifact

      - name: Move manual
        run: mv gclc_man.pdf manual/gclc_man.pdf

      - name: Install Qt
        uses: jurplel/install-qt-action@v3.3.0
        with:
          version: "6.2.4"
          host: "linux"
          target: "desktop"
          arch: "gcc_64"
          cache: "false"

      - name: Make CLI version
        run: make

      - name: Make GUI version
        run: |
          cd source/ 
          qmake gGCLC.pro
          make

      - name: Upload executables
        uses: actions/upload-artifact@v4
        with:
          name: linux-build-artifact
          path: executable/

  buildWindows:
    runs-on: windows-2022
    needs: [buildManual]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download manual
        uses: actions/download-artifact@v4
        with:
          name: manual-build-artifact

      - name: Move manual
        run: |
          rm manual/gclc_man.pdf
          mv gclc_man.pdf manual/gclc_man.pdf

      - name: Install QT
        uses: jurplel/install-qt-action@v3.3.0
        with:
          version: "6.2.4"
          host: "windows"
          target: "desktop"
          arch: "win64_mingw"
          cache: "false"

      - name: Make CLI version
        run: make

      - name: Make GUI version
        run: |
          cd source/ 
          qmake.exe -r QMAKE_CXXFLAGS+=-std=gnu++17 QMAKE_CXXFLAGS+=-static gGCLC.pro
          make

      - name: Move DLLs
        run: |
          cp ../Qt/6.2.4/mingw_64/bin/Qt6Core.dll executable/
          cp ../Qt/6.2.4/mingw_64/bin/Qt6Gui.dll executable/
          cp ../Qt/6.2.4/mingw_64/bin/Qt6PrintSupport.dll executable/
          cp ../Qt/6.2.4/mingw_64/bin/Qt6Widgets.dll executable/
          mkdir -p executable/platforms/
          cp ../Qt/6.2.4/mingw_64/plugins/platforms/qwindows.dll executable/platforms/

      - name: Upload executables
        uses: actions/upload-artifact@v4
        with:
          name: windows-build-artifact
          path: executable/

  release:
    runs-on: ubuntu-latest
    needs: [buildManual, buildLinux, buildWindows]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download manual
        uses: actions/download-artifact@v4
        with:
          name: manual-build-artifact

      - name: Download linux build
        uses: actions/download-artifact@v4
        with:
          name: linux-build-artifact

      - name: Download windows build
        uses: actions/download-artifact@v4
        with:
          name: windows-build-artifact

      - name: Zip Linux package
        run: zip -r linux.zip gclc gclc-gui gclc_man.pdf README.md LICENSE.md working_example samples LaTeX_packages XML_support

      - name: Zip Windows package
        run: zip -r windows.zip gclc.exe gclc-gui.exe gclc_man.pdf README.md LICENSE.md working_example samples LaTeX_packages XML_support *.dll platforms/

      - name: Release
        uses: softprops/action-gh-release@4634c16e79c963813287e889244c50009e7f0981
        with:
          files: |
            linux.zip
            windows.zip
          tag_name: 1.1.0

      - name: move
        run: |
          mv gclc_man.pdf manual/gclc_man.pdf
          mv gclc-gui.exe executable/pre-built/windows/gclc-gui.exe
          mv gclc.exe executable/pre-built/windows/gclc.exe
          mv gclc-gui executable/pre-built/linux/gclc-gui
          mv gclc executable/pre-built/linux/gclc

      - name: commit
        uses: EndBug/add-and-commit@v9
        with:
          message: Build executables
          default_author: github_actions
          add: "manual/gclc_man.pdf executable/pre-built/*"
